<%= simple_form_for(@testing) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :dvp, :as => :hidden%>
    <%= f.input :request_comment %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
