<h1>Listing studies</h1>

<table class="table table-condensed table-bordered">
  <tr>
    <th>Study code</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @studies.each do |study| %>
  <tr>
    <td><%= study.study_code %></td>
    <td><%= link_to 'Show', study %></td>
    <td><%= link_to 'Edit', edit_study_path(study) %></td>
    <td><%= link_to 'Destroy', study, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Study', new_study_path %>
